<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Список врачей</title>
</head>
<body>
{% include '_menu.html' %}
<h1>Список врачей</h1>
{% if department %}
    <h2>{{ department.name }}
        {% if current_user and current_user.is_authenticated %}
            <a href="{{ url_for('edit_department', id=department.id) }}">Редакт.</a>
        {% endif %}
    </h2>
{% endif %}
{% if head and head.name %}
    <h3>
        {% if current_user and current_user.is_authenticated %}
            Заведующий отделением: <a href="{{ url_for('edit_doctor', id=head.id) }}">{{ head.name }}</a>
        {% else %}
            Заведующий отделением: {{ head.name }}
        {% endif %}
    </h3>
{% endif %}
<table>
    <thead>
    <tr>
        <th>ФИО</th>
        {% if current_user and current_user.is_authenticated %}
            <th>Зарплата</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for d in doctors %}
        <tr>
            <td>
                {% if current_user and current_user.is_authenticated %}
                    <a href="{{ url_for('edit_doctor', id=d.id) }}">{{ d.name }}</a>
                {% else %}
                    {{ d.name }}
                {% endif %}
            </td>
            {% if current_user and current_user.is_authenticated %}
                <td>
                    {{ d.salary }}
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>