<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Редактирование информации об услуге</title>
</head>
<body>
{% include '_menu.html' %}
<form method="post">
    <table class="form">
        <tr>
            <th class="form">Пациент</th>
            <td class="form">{{ form.patient }}</td>
            <td class="form">
                {{ form.patient.errors if form.patient.errors }}
            </td>
        </tr>
        <tr>
            <th class="form">Доктор</th>
            <td class="form">
                {{ form.doctor }}
            </td>
            <td class="form">
                {{ form.doctor.errors if form.doctor.errors }}
            </td>
        </tr>
        <tr>
            <th class="form">Услуга</th>
            <td class="form">
                {{ form.service }}
            </td>
            <td class="form">
                {{ form.service.errors if form.service.errors }}
            </td>
        </tr>
        <tr>
            <th class="form">Дата проведения</th>
            <td class="form">
                {{ form.service_date }}
            </td>
            <td class="form">
                {{ form.service_date.errors if form.service_date.errors }}
            </td>
        </tr>
        <tr>
            <th class="form">Стоимость</th>
            <td class="form">
                {{ form.cost }}
            </td>
            <td class="form">
                {{ form.cost.errors if form.cost.errors }}
            </td>
        </tr>
        <tr>
            <td colspan="3" class="form">
                {{ form.button_save }}
                {% if service.id %}
                    {{ form.button_delete }}
                {% endif %}
            </td>
        </tr>
    </table>
</form>
</body>
</html>